
.host_tabs{
  width: 90%;
  height: 15%;
  margin-left: 5%;
  *border:1px solid;
}
.host_tabs_ul{
  padding: 0;
  margin: 0;
}
.host_tabs_ul>li{
  width: 20%;
  height:70%;
  *border: 1px solid;
  color: #fff;
  background-color: rgb(201, 201, 203);
  float: left;
  margin-left: 5%;
  margin-top: 4%;
  border-radius: 55%;
  text-align: center;
  line-height: 5.5em;
  font-size: 2em;
}
.host_tabs_ul>li:first-child{
  margin-left: 2.5%;
}
.host_stores{
  width: 90%;
  margin-left: 5%;
  *border:1px solid;

}
.host_stores_ul{
  padding: 0;
  margin: 0;
}
.host_stores_ul>li{
  width: 100%;
  height:25%;
  *border: 1px solid;
  margin-top: 5%;
  background-image: url("/image/host1.png");
}
.host_stores_ul>li:first-child{
  margin-top: 0;
}
.host_stores_info{
  width: 100%;
  height: 75%;
  text-align: center;
  color: #fff;
  font-size: 2em;
  line-height: 9em;
  letter-spacing: 0.3em;
  opacity: 0.8;
}

.host_stores_text{
  width: 100%;
  height: 25%;
  *margin-top: 37%;
  *background-color: #F8A519;
  *border: 1px solid red;
}
.host_stores_text_left{
  width: 50%;
  height: 100%;
  float: left;
}
.host_stores_text_left>header{
  float: left;
  color: #fff;
  font-size: 2em;
  margin-left: 10%;
  margin-top: 8%;
  opacity: 0.8;
}
.host_stores_text_left>section {
  float: left;
  color: #fff;
  font-size: 4em;
  margin-left: 5%;
  margin-top: 5%;
  opacity: 0.8;
}
.host_stores_text_left>footer{
  float: left;
  color: #fff;
  font-size: 2em;
  margin-left: 3%;
  margin-top: 9%;
  opacity: 0.8;
  ＊text-decoration:line-through;
}

.host_stores_text_right{
  width: 50%;
  height: 100%;
  float: left;
}
.host_stores_text_right>span{
  float: right;
  color: #fff;
  font-size: 2.3em;
  opacity: 0.8;
  margin-right: 10%;
  margin-top: 8%;
}
