

.container .p1{
    font-size:50px;
    color:#000;
    text-align: center;
    margin:20px 0px;
}


.container .p2{
    font-size:30px;
    color:#000;
    text-align: center;
    margin:40px 0px;
}

.container .qrcode{
    position: absolute;
    top:200px;
    left: 170px;
}

.container .modal{
    position: absolute;
    top:199px;
    left: 169px;
    width: 302px;
    height: 302px;
    background-color: #fff;
    opacity: 0.98;
}

.container .hit{
    position: absolute;
    top:329px;
    left: 169px;
    color: #000;
    font-size: 30px;
}

.help
{
    position: absolute;
    left:20px;
    top:600px;
    font-size:30px;

}

.help .wrap-item{
    color: rgb(38, 182, 109);
    float: left;
    margin-top:30px;
}

.help div{float: left; font-size: 28px;}

.help .item{
    width:150px;
    height: 120px;
    text-align: center;
    border:1px solid rgb(38, 182, 109);
    border-radius: 10px;
    vertical-align: middle;
    line-height: 40px;
}

.help .d{line-height: 125px; margin: 0px 25px;}