
img {
    border: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body{
  width: 640px;
  height: auto;
}

.qrcode_container{
  width: 100%;
  height:800px;
  padding: 35px;
  position: relative;
    margin-bottom: 20px;
}
.qrcode_container_code{
  height: 90%;
  width: 100%;
  background-color: #f3f3f3;
  box-shadow: 6px 6px 6px gray;
  padding: 80px;
}
.qrcode_container_code_img{
  height: 100%;
  width: 100%;
}
.qrcode_container_code_img_up{
  width: 100%;
  height: 408px;
    margin-bottom: 50px;
}
.qrcode_container_code_img_up>img{
  width: 100%;
  height: 100%;
  -webkit-filter: blur(6px);
}
.qrcode_container_code_img_down{
  font-size: 25px;
  letter-spacing: 6px;
  margin-top:5px;
    text-align: center;
}
.postmark{
  position: absolute;
  top: 579px;
  width: 309px;
  height: 320px;
    left: 331px;
}
